body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
h1 {
    display: block;
    font-size: 26px;
    margin: 17.42px 0px;
    font-weight: bold;
}
p {
    display: block;
    font-size: 13px;
    margin: 33px;
}
a :visited {
    color: #666;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: inital;
    border-spacing: 2px;
    border-color: grey;
}

tr {
    display:  table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    margin: 33px;
    padding: 1px 5px 7px;
    display: table-cell;
    vertical-aligin: inherit;
}
form {
    display: block;
    margin: ;
}
label {
    display: block;
    sursor: default;
}

#error_explanation {
    width: 450px;
    botder: 2px solid red;
    padding: 0;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}